body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #e91e63;
}
a:hover {
  color: #e91e62ae;
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
}

.radix-themes {
  --purple-9: #aa00ff;
  --purple-a9: #aa00ff;
}